[Unit]
Description=Zarathustrov twitter runner

[Service]
User=YOUR_USERNAME_HERE
Restart=always
Type=simple
WorkingDirectory=$GOPATH/src/github.com/kevindkeogh/zarathustrov
ExecStart=$GOPATH/src/github.com/kevindkeogh/zarathustrov/zarathustrov

[Install]
WantedBy=multi-user.target
